# dependencies
PyMuPDF
SQLAlchemy
aiofiles
arxiv
beautifulsoup4
colorama
duckduckgo_search
fastapi
htmldocx
jinja2
langchain
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
langchain_community
lxml[html_clean]
markdown
md2pdf
mistune
newspaper3k
openai
playwright
pydantic
pytest
pytest-asyncio
python-docx
python-dotenv
python-multipart
pyyaml
requests
tavily-python
unstructured
uvicorn
websockets
pyvirtualdisplay
selenium