{
    "internet_search"  :{"env_var":"SEARCH_RETRIEVER","default_val":"ddgs_search"},
    "llm_provider"     :{"env_var":"CHAT_MODEL","default_val":"groq"},
    "smart_llm_model"  :{"env_var":"SMART_LLM_MODEL","default_val":"llama3-70b-8192"},
    "total_words"      :{"env_var":"TOTAL_WORDS","default_val":700}
}