{
    "internet_search"             :{"env_var":"INTERNET_SEARCH","default_val":"ddg_search"},
    "embedding_provider"          :{"env_var":"EMBEDDING_PROVIDER","default_val":"openai"},
    "llm_provider"                :{"env_var":"LLM_PROVIDER","default_val":"openai"},
    "llm_model"                   :{"env_var":"LLM_MODEL","default_val":"gpt-4o-2024-05-13"},
    "llm_token_limit"             :{"env_var":"LLM_TOKEN_LIMIT","default_val":4000},
    "llm_temperature"             :{"env_var":"LLM_TEMPERATURE","default_val":0.35},
    "browse_chunk_max_length"     :{"env_var":"BROWSE_CHUNK_MAX_LENGTH","default_val":8192},
    "summary_token_limit"         :{"env_var":"SUMMARY_TOKEN_LIMIT","default_val":700},
    "max_search_results_per_query":{"env_var":"MAX_SEARCH_RESULTS_PER_QUERY","default_val":5},
    "total_words"                 :{"env_var":"TOTAL_WORDS","default_val":1000},
    "max_subsections"             :{"env_var":"MAX_SUBSECTIONS","default_val":5},
    "max_iterations"              :{"env_var":"MAX_ITERATIONS","default_val":3},
    "max_subtopics"               :{"env_var":"MAX_SUBTOPICS","default_val":3},
    "report_out_dir"              :{"env_var":"REPORT_OUT_DIR","default_val":"~/llm_analyst_out"},
    "local_store_dir"             :{"env_var":"LOCAL_STORE_DIR","default_val":""},
    "cache_dir"                   :{"env_var":"CACHE_DIR","default_val":"~/.cache/llm_analyst"}
}